<mat-toolbar>
  <button mat-button routerLink="/">
    <mat-icon fontIcon="currency_exchange"></mat-icon>
    Currency Conversion
  </button>

  <div class="spacer"></div>

  <button mat-button routerLink="/">
    <mat-icon fontIcon="currency_exchange"></mat-icon>
    Convert
  </button>

  <button mat-button disabled>
    <mat-icon fontIcon="trending_up"></mat-icon>
    Popular currencies
  </button>

  <button mat-button disabled>
    <mat-icon fontIcon="analytics"></mat-icon>
    Historic rates
  </button>
</mat-toolbar>
