<mat-toolbar>
  <button mat-button routerLink="/" data-test="button-logo">
    <mat-icon fontIcon="currency_exchange"></mat-icon>
    Currency Conversion
  </button>

  <div class="spacer"></div>

  <button mat-button routerLink="/" class="tablet-up">
    <div class="align-button-icon">
      <mat-icon fontIcon="currency_exchange"></mat-icon>
      <span>Convert</span>
    </div>
  </button>

  <button mat-button disabled class="tablet-up">
    <div class="align-button-icon">
      <mat-icon fontIcon="trending_up"></mat-icon>
      Popular currencies
    </div>
  </button>

  <button mat-button disabled class="tablet-up">
    <div class="align-button-icon">
      <mat-icon fontIcon="analytics"></mat-icon>
      Historic rates
    </div>
  </button>

  <button mat-button [matMenuTriggerFor]="menu" class="mobile-only">
    Menu
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <div class="align-button-icon">
        <mat-icon fontIcon="currency_exchange"></mat-icon>
        Convert
      </div>
    </button>

    <button mat-menu-item disabled>
      <div class="align-button-icon">
        <mat-icon fontIcon="trending_up"></mat-icon>
        Popular currencies
      </div>
    </button>

    <button mat-menu-item disabled>
      <div class="align-button-icon">
        <mat-icon fontIcon="analytics"></mat-icon>
        Historic rates
      </div>
    </button>
  </mat-menu>
</mat-toolbar>
