<form
  *ngIf="currencies$ | async as currencies"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <div class="form-grid">
    <div>
      <h4>Amount</h4>

      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input
          matInput
          placeholder="Placeholder"
          formControlName="amount"
          type="number"
        />
      </mat-form-field>
    </div>

    <div>
      <h4>From currency</h4>
      <mat-form-field appearance="outline">
        <mat-label>Currency</mat-label>
        <mat-select formControlName="from">
          <mat-option
            *ngFor="let currency of currencies"
            [value]="currency.symbol"
          >
            {{ currency.name }} ({{ currency.symbol }})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <h4>To currency</h4>
      <mat-form-field appearance="outline">
        <mat-label>Currency</mat-label>
        <mat-select formControlName="to">
          <mat-option
            *ngFor="let currency of currencies"
            [value]="currency.symbol"
          >
            {{ currency.name }} ({{ currency.symbol }})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <button
    mat-button
    color="primary"
    type="submit"
    [disabled]="disableSubmitButton$ | async"
  >
    <ng-container *ngIf="conversionLoading$ | async; else submitText">
      <div class="align-button-icon">
        <mat-spinner diameter="16"></mat-spinner>
        <span>Loading</span>
      </div>
    </ng-container>

    <ng-template #submitText>
      <div class="align-button-icon">
        <mat-icon
          class="convert-icon-size"
          fontIcon="currency_exchange"
        ></mat-icon>
        <span>Get conversion</span>
      </div>
    </ng-template>
  </button>
</form>

<ng-container *ngIf="currenciesLoading$ | async">
  Loading currencies...
</ng-container>

<ng-container *ngIf="currenciesError$ | async as error">
  <p>We're sorry, an error has occured:</p>

  <pre>{{ error | json }}</pre>
</ng-container>
