@use "variables" as variables;

.form-grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 64px;

  @media (min-width: variables.$mq-desktop) {
    flex-direction: row;
  }

  & > div {
    flex-grow: 1;
  }
}
