<ng-container *ngIf="conversion$ | async as conversion">
  <hr />

  <h2>Result</h2>

  <p>
    Your converted amount of
    <strong>{{ conversion.amount | currency : conversion.from }}</strong>
    =
    <strong>{{ conversion.result | currency : conversion.to }}</strong>
  </p>
</ng-container>

<ng-container *ngIf="conversionLoading$ | async">
  <hr />

  <h2>Result</h2>

  <p>Hold tight, we're converting...</p>
</ng-container>

<ng-container *ngIf="conversionError$ | async as error">
  <hr />

  <h2>Uh oh</h2>

  <p>It looks like somethings gone wrong:</p>

  <pre>{{ error | json }}</pre>
</ng-container>
